* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.default {
    width: 800px;
    height: 480px;
    background-color: #f5f8ff;
    display: grid;
    grid-template-columns: 200px 400px 200px;
    grid-template-areas: 'nfc-app main-section noti';
}

.nfc-app {
    border: 1px solid #d3e6ff;
}

.main-section {
    border: 1px solid #d3e6ff;
}

.noti {
    border: 1px solid #d3e6ff;
}