* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.container {
    width: 800px;
    height: 480px;
    background-color: rgb(255, 206, 206);
    display: grid;
    grid-template-columns: 200px 400px 200px;
    grid-template-areas: 'nfc-app main-section noti';
}

.nfc-app {
    border: 1px solid black;
}

.main{
    border: 1px solid black;
}

.noti {
    border: 1px solid black;
}